* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
    font: 13px Helvetica, Arial;
}

.content {
    margin: 6vh auto;
    background-image: linear-gradient(#950740, #1a1a1d);
    min-width: 320px;
    width: 70%;
    min-height: 85%;
    text-align: center;
}

.content-header {
    padding: 1vh;
}

.title {
    color: #c3073f;
    margin: 2vh;
}

#dropdownMenuButton {
    margin: 2vh;
}

.btn-custom {
    background-color: #1a1a1d;   
    color: #4e4e50;
}

.content-body {
    margin-top: 2vh;
    padding: 1vh;
    text-align: center;
}

#player {
    margin: 0 auto;
}

#playlist-info {
    display: none;
    border: solid 1px #950740;
    color: white;
    margin: 2vh auto;
    padding: 1vh;
    max-width: 350px;
}

#playlist-link {
    font-size: 1.4em;
}

.error {
    color: white;
}